<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.zgjy.erp.mapper"></context:component-scan>
    <!-- 数据源 -->
    <context:property-placeholder
            location="classpath:jdbc.properties"/>
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!-- 配置 SqlSessionFactoryBean -->
    <bean id="sqlSessionFactoryBean"
          class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--mybatis单独配置-->
        <property name="configLocation"
                  value="classpath:mybatis-config.xml"></property>
        <!-- 别名处理 -->
        <property name="typeAliasesPackage" value="com.zgjy.erp.bean"></property>
        <!--引入全局配置-->
        <property name="globalConfig" ref="globalConfiguration"></property>
        <!--mybatis-plus分页插件-->
        <property name="plugins">
        <list>
            <!-- 注册分页插件 -->
            <bean class="com.baomidou.mybatisplus.plugins.PaginationInterceptor"></bean>
        </list>
        </property>
    </bean>

    <!-- mybatis全局策略配置 -->
    <bean class="com.baomidou.mybatisplus.entity.GlobalConfiguration" id="globalConfiguration">
        <!--驼峰命名法默认是true-->
        <property name="dbColumnUnderline" value="true"></property>
        <!-- 全局主键策略对应的是主键Auto-->
        <property name="idType" value="0"></property>
        <!-- 全局表前缀-->
        <property name="tablePrefix" value="t_"></property>
        
    </bean>

    <!-- dao接口扫描 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.zgjy.erp.mapper"></property>
    </bean>



</beans>