<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjy.erp.mapper.InventoryMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zgjy.erp.bean.Inventory">
        <id column="inid" property="inid" />
        <result column="goodsid" property="goodsid" />
        <result column="storeid" property="storeid" />
        <result column="num" property="num" />
        <result column="type" property="type" />
        <result column="createtime" property="createtime" />
        <result column="checktime" property="checktime" />
        <result column="creater" property="creater" />
        <result column="checker" property="checker" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inid, goodsid, storeid, num, type, createtime, checktime, creater, checker, state, remark
    </sql>

</mapper>
