<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjy.erp.mapper.StoreoperMapper">

    <select id="queryStoreWarn" resultType="com.zgjy.erp.bean.StoreWarn">
    select * from v_store_warn where storenum &lt; salenum
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zgjy.erp.bean.Storeoper">
        <id column="soid" property="soid" />
        <result column="empid" property="empid" />
        <result column="opertime" property="opertime" />
        <result column="storeid" property="storeid" />
        <result column="goodsid" property="goodsid" />
        <result column="num" property="num" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        soid, empid, opertime, storeid, goodsid, num, type
    </sql>

    <select id="queryStoreoper" resultType="com.zgjy.erp.bean.StoreoperVo">
        select * from v_storeoper
        <where>
            <if test="empid!=null">
                and empid=#{empid}
            </if>
            <if test="starttime!=null">
                and opertime &gt; #{starttime}
            </if>
            <if test="endtime!=null">
                and opertime &lt; #{endtime}
            </if>
            <if test="storeid!=null">
                and storeid=#{storeid}
            </if>
            <if test="goodsid!=null">
                and goodsid=#{goodsid}
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
        </where>
    </select>
</mapper>
