<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjy.erp.mapper.StoreoperMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zgjy.erp.bean.Storeoper">
        <id column="soid" property="soid" />
        <result column="empid" property="empid" />
        <result column="opertime" property="opertime" />
        <result column="storeid" property="storeid" />
        <result column="goodsid" property="goodsid" />
        <result column="num" property="num" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        soid, empid, opertime, storeid, goodsid, num, type
    </sql>

</mapper>
